<tr>
  <td>
    <strong>Title:</strong>
    <%= reward.essay.title %>
  </td>

  <td>
    <strong>points:</strong>
    <%= reward.points %>
  </td>

  <td>
    <strong>user</strong>
    <%= reward.user.email %>
  </td>

  <td>
    <strong>Position:</strong>
    <%= reward.position %>
  </td>

</tr>
